---
# Only the main Sass file needs front matter (the dashes are enough)
---

@import "minima";
.page-content {
  padding: 0px 0; }
.home{
 padding:20px;}
.site-header {
  border-bottom-width: 0px;
  min-height: 55.95px;
  position: relative;
  color: #fff;
  background-color:#09070a; }
.site-title, .site-title:visited {
    color: #888; }

table {
  border-collapse: collapse;
}
tr { 
  border: solid;
  border-width: 1px 0;
  border-color: #ddd;
}
td{
  padding: 1em;
}

